html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body { background: url('../../images/bkg.main.jpg') repeat; background-size: cover; }
#main { width: 100%; }
h1, h2, h3, h4, p, a { color: #fff; font-family: Verdana, Helvetica, sans-serif; }
#content { 
	margin: 0 auto; width: 1280px; 
	.headers { float: left; width: 100%; }
	.divider { 
		background: url('../../images/bkg.divider.png') no-repeat; margin: 0 auto; height: 7px; width: 655px; 
		&.top { margin-top: 50px; }
	}
	.vertical-bkg { 
	 	float: left; height: 100%; min-height: 768px; width: 32px; 
		&.red { background: url('../../images/bkg.red.bar.jpg') repeat-y; margin-left: 32px; }
		&.orange { background: url('../../images/bkg.orange.bar.jpg') repeat-y; }
	}
	.knob-bar { 
		background-color: #33322a; border-radius: 3px; float: left; height: 150px; margin-right: 65px; width: 12px; -webkit-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75); box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75); 
		.knob { 
			background: url('../../images/bkg.btn.sprite.png') 0 0 no-repeat; float: left; height: 44px; margin-left: -16px; overflow: hidden; width: 44px; 
			&.one { margin-top: 70px; }
			&.two { margin-top: 35px; }
			&.three { margin-top: 60px; }
			&.four { margin-top: 100px; }
			&.five { margin-top: 10px; }
		}
	}
	.header-one,
	.header-two,
	.header-three {
		background: url('../../images/bkg.headers.sprite.png') no-repeat; float: left; height: 52px; overflow: hidden; text-indent: -9999px; 
	}
	.item-word { background: #fff; color: #37362e; float: left; font-family: Helvetica, Verdana, sans-serif; font-size: 15px; margin-bottom: 15px; padding: 18px 15px; text-align: center; text-transform: uppercase; width: 55%; }
	.item-btn { 
		background: url('../../images/bkg.btn.sprite.png') no-repeat 0 -107px; float: left; height: 85px; margin: -4px 0 0 20px; width: 63px; 
		&:hover { background-position: -63px -107px; }
		&:active { background-position: -126px -107px; }
	}
	.flipper { background: url('../../images/flipper.png') no-repeat; height: 126px; width: 820px; }
	.flipper-container { float: left; margin-top: 40px; width: 100%; }
	#msg-container { 
		background-color: #33322a; border-radius: 2px; float: left; height: 523px; margin: 25px; width: 75%; -webkit-box-shadow: inset 0px 3px 15px 12px rgba(0,0,0,0.57);
-moz-box-shadow: inset 0px 3px 15px 12px rgba(0,0,0,0.57);
box-shadow: inset 0px 3px 15px 12px rgba(0,0,0,0.57); 
		#msg-followup { display: none; }
		h1 { font-size: 33px; padding: 25px 0; text-align: center; text-transform: uppercase; width: 100%; }
		p { font-size: 12px; line-height: 30px; padding: 40px 55px; text-transform: uppercase; }
	}
	#btn-container { 
		float: left; border: 1px solid #000; margin-top: 35px; width: 65px;
		.btn { background: url('../../images/bkg.btn.sprite.png') 0 -44px no-repeat; border: 1px solid #000; float: left; height: 63px; overflow: hidden; width: 63px; }
	}
	#knob-container { 
		float: left; margin-left: 35px; width: 40%; 
	}
	#init-btn { 
		background: url('../../images/bkg.initiate.png') no-repeat; float: left; height: 147px; overflow: hidden; text-indent: -9999px; width: 467px; 
		&:hover { background-position: 0 -147px; }
	}
	
	#panel-content { 
		display: none; float: left; margin: 25px; opacity: 0; 
		p { color: #37362e; }
		#panel-1, #panel-2,  #panel-3,  #panel-4,  #panel-5,  #panel-6,  #panel-7,  #panel-8,  #panel-9 { display: none; height: 646px; width: 1100px; }
		#panel-1 {
			display: block;
			.header-one { background-position: 0 0; width: 393px; }
			.header-two { background-position: 0 -52px; margin-left: 60px; text-indent: -9999px; width: 420px; }
		}
		.left-container, .right-container { float: left; margin: 50px 0; width: 50%; }
		.right-container {
			padding-left: 3%; width: 45%; 
			p { margin-bottom: 23px; text-align: left; text-transform: uppercase; }
			.knob-bar { height: 452px; margin-right: 15px; }
		}
		#panel-2 {
			.header-one { background-position: 0 -104px; width: 870px; }
		}
		#panel-3 {
			.header-one { background-position: 0 -208px; width: 870px; }
			.header-two { background-position: 0 -156px; width: 870px; }
			.speak-container { float: left; margin-right: 10px; margin: 40px 0 70px; width: 12%; }
			.item-header, .answer { color: #37362e; font-family: Helvetica, Verdana, sans-serif; font-size: 13px; text-transform: uppercase; }
			.item-header { font-weight: bold; height: 30px; margin-bottom: 10px; text-align: center; }
			.answer { font-size: 12px; font-weight: bold; margin-bottom : 20px; }
			.knob-bar { height: 80px; }
			.knob { background: url('../../images/bkg.btn.sprite.png') 0 -200px no-repeat; height: 25px; width: 45px; }
			.left-container, .right-container { margin: 0; }
			.left-container { margin-top: 22px; }
			.right-container { margin-left: -7px; padding-left: 0; }
			.flipper-container { float: left; margin-top: 40px; width: 100%; }
		}
		#panel-4 {
			#social-posts { float: left; margin-top: 50px; width: 100%; }
			.header-one { background-position: 0 -260px; width: 820px; }
			.item { float: left; margin-bottom: 20px; width: 33%; }
			.item-word { background: #fff; color: #37362e; float: left; font-family: Helvetica, Verdana, sans-serif; font-size: 15px; font-weight: bold; height: 22px; margin-bottom: 15px; padding: 14px 15px 18px; text-align: center; text-transform: uppercase; width: 70%; }
			.item-btn { 
				background: url('../../images/bkg.btn.sprite.png') no-repeat 0 -236px; float: left; height: 60px; margin: -4px 7px 0 0; width: 40px; 
				&:hover { background-position: -39px -236px; }
				&:active { background-position: -78px -236px; }
			}
		}
		#panel-5 {
			.header-one { background-position: 0 -312px; width: 395px; }
			.header-two { background-position: 0 -364px; width: 395px; }
			.panel-top-container, .panel-bottom-container { float: left; width: 100%; }
			.panel-top-container {
				.knob-bar { 
					height: 12px; margin-top: 35px; width: 980px; 
					.knob { margin-top: -17px; }
				}
			}
			.panel-bottom-container {
				.knob-bar { 
					height: 55px; width: 12px; 
					.knob { background-position: 0 -200px; height: 25px; margin-top: -17px; width: 45px; }
				}
				.answer { color: #37362e; font-family: Helvetica, Verdana, sans-serif; font-size: 12px; font-weight: bold; margin-bottom: 12px; text-transform: uppercase; }
				.speak-container { float: left; width: 30%; }
				.left-container { margin-bottom: -15px; margin-top: 60px; padding-right: 1%; width: 12%; }
				.right-container { margin-bottom: -15px; width: 60%; }
				.item-word { background: #fff; color: #37362e; float: left; font-family: Helvetica, Verdana, sans-serif; font-size: 15px; font-weight: bold; height: 30px; margin-left: 6%; margin-top: -10px; padding: 14px 15px 18px; text-align: center; text-transform: uppercase; width: 65%; }
				
			}
			#accent-container { 
				float: left; margin-bottom: 50px; width: 100%;
				.item {
					float: left; margin-top: 12px; text-align: center; width: 10%;
				}
				.vertical-divider { padding-bottom: 5px; }
				.accent { 
					font-family: Helvetica, Verdana, sans-serif; font-size: 15px; font-weight: bold; text-transform: uppercase; 
					span { float: left; width: 100%; }
				}
			}
		}
		#panel-6 {
			.left-container, .right-container, .middle-container { float: left; margin-top: 50px; width: 25%; }
			.right-container { padding-left: 0; }
			.header-one { background-position: 0 -415px; margin-right: 40px; width: 260px; }
			.header-two { background-position: 0 -467px; width: 558px; }
			.item { float: left; width: 100%; }
			.item-word { margin-left: 5%; width: 50%; }
		}
		#panel-7 {
			.left-container, .right-container, .middle-container { float: left; margin-top: 50px; width: 25%; }
			.right-container { padding-left: 0; }
			.header-one { background-position: 0 -519px; width: 874px; }
			.item { float: left; width: 100%; }
		}
		#panel-8 {
			.header-one { background-position: 0 -573px; margin-right: 40px; width: 392px; }
			.header-two { background-position: 0 -626px; width: 423px; }
			.left-container {
				p { margin-bottom: 23px; text-align: left; text-transform: uppercase; }
				.knob-bar { height: 452px; margin-right: 15px; }
			}
		}
		#panel-9 {
			.header-one { background-position: 0 -731px; margin-right: 40px; width: 271px; }
			.header-two { background-position: -298px -731px; margin-right: 40px; width: 275px; }
			.header-three { background-position: -598px -731px; width: 268px; }
			.panel-top-container { float: left; margin-top: 35px; }
			.panel-bottom-container {
				float: left; margin-top: 50px;
				.header-one { background-position: 0 -679px; width: 395px; }
			}
			.knob-container { 
				float: left; margin: 0 auto; width: 28%; 
				&:nth-child(2) { 
					.knob-selections { margin-left: 10%; width: 70%; }
				}
				&:nth-child(3) { margin-left: 1%; }
			}
			.knob { background: url('../../images/knob.sm.png') no-repeat; float: left; height: 176px; margin-left: 16%; text-indent: -9999px; width: 177px;  }
			.knob-selections { float: left; margin: 0 auto 0 15%; text-align: center; width: 60%; }
			.selection {
				float: left; font-weight: bold; text-align: center; text-transform: uppercase; 
				&.left { float: left; }
				&.right { float: right; }
				&.middle { margin: 27px 0 0 11px; }
			}
		}
	}
	#age-knob { background: url('../../images/panel.age.knob.png') no-repeat; float: left; height: 280px; margin: 76px 0 0 16px; text-indent: -9999px; width: 279px; }
	#age-ranges { 
		margin: 63px 0 0 248px; position: absolute; 
		p { font-size: 13px; }
		.age-range { color: #37362e; margin: 33px 0; }
		.age-range:nth-child(2) { margin-left: 35px; }
		.age-range:nth-child(3) { margin-left: 51px; }
		.age-range:nth-child(4) { margin-left: 45px; }
		.age-range:nth-child(5) { margin-left: 35px; }
	}
	.rectangular-button{
				background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
				background-image: linear-gradient(top, #f4f1ee, #fff);
				border-radius: 0;
				border: 1px solid #37362e;
				box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
				color: #37362e;
				float:left;
				height: 46px;
				margin: 0 30px 15px 0;
				padding: 30px 15px 0;
				position: relative;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				width: 75%;			
				-webkit-transition: all .1s linear;
				transition: all .1s linear;
			}

	.rectangular-button:after{
				color:#e9e6e4;
				content: "";
				display: block;
				font-size: 30px;
				height: 30px;
				text-decoration: none;
				text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
				position: absolute;
				width: 30px;
			}
	
	.bottom-container {
		float: left; width: 100%;
		.panel-counter { 
			background: url('../../images/bkg.panel.blank.png') no-repeat; float: left; height: 52px; margin: 15px 39px 0; width: 334px; 
			.counter { background: url('../../images/bkg.panel.counter.png') no-repeat; float: left; height: 18px; margin: 15px 0 0 95px; overflow: hidden; text-indent: -9999px; width: 149px; }
		}
		#back-btn,
		#next-btn { float: left; height: 74px; overflow: hidden; text-indent: -9999px; width: 233px; }
		#back-btn { 
			background: url('../../images/bkg.panel.back.png') no-repeat; 
			&:hover { background-position: 0 -74px; }
		}
		#next-btn { 
			background: url('../../images/bkg.panel.next.png') no-repeat; 
			&:hover { background-position: 0 -74px; }
		}
	}
}