html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: none;
}

/*
#flip-container {
	float: left; width: 100%;
	.flip { 
		border-radius: 5px; box-shadow: 0 2px 5px rbga(0, 0, 0, 0.7); float: left; font-size: 80px; font-weight: bold; height: 90px; line-height: 87px; margin: 5px; position: relative; width: 60px; 
		li {
			height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1;
			&:first-child { z-index: 1; }
			a { 
				display: block; height: 100%; perspective: 200px; 
				div { 
					height: 50%; left: 0; overflow: hidden; position: absolute; width: 100%; z-index: 1; 
					.shadow { height: 100%; position: absolute; width: 100%; z-index: 2; }
					&.up { 
						transform-origin: 50% 100%; top: 0; 
						&:after { background-color: rbga(0, 0, 0, .4); content: ""; height: 3px; left: 0; position: absolute; top: 44px; width: 100%; z-index: 5; }
						div {
							&.inn { top: 0; }
						}
					}
					&.down { 
						bottom: 0; transform-origin: 50% 0%; }
						div {
							&.inn { bottom: 0; }
						}
					div {
						&.inn { background-color: #333; border-radius: 5px; color: #ccc; height: 200%; left: 0; position: absolute; text-align: center; text-shadow: 0 1px 2px #000; width: 100%; z-index: 1; }
						
					}
				}
			}
		}
	}	
}
body { 
	background: url('../../images/bkg.main.jpg') repeat; background-size: cover; 
	&.play {
		ul {
			li {
				&.before { 
					z-index: 3; 
					.up { 
						animation: turn2 .5s linear both; z-index: 2; 
						.shadow { 
							background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
   							background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
  							background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
   							background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    						background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
   							animation: show .5s linear both; }
					}
					.down {
						.shadow {
							background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
							background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							animation: show .5s linear both;
						}
					}
				}
				&.active { 
					animation: asd .5s .5s linear both; z-index: 2; 
					.down { 
						animation: turn .5s .5s linear both; z-index: 2; 
						.shadow {
							background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
							background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
							animation: hide .5s .3s linear both;
						}
					}
					.up {
						.shadow {
							background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
							background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
							background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
							background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
							background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
							animation: hide .5s .3s linear both;
						}
					}
				}
			}
		}
	}
}
@keyframes asd {
	0% { z-index: 2; }
	5% { z-index: 4; }
	100% { z-index: 4; }
}
@keyframes turn {
	0% { transform: rotateX(90deg); }
	100% { transform: rorateX(0deg); }
}
@keyframes turn2 {
	0% { transform: rotateX(0deg); }
	100% { transform: rorateX(-90deg); }
}
@keyframes show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes hide {
	0% { opacity: 1; }
	100% { opacity: 0; }
}*/
/* ******************* NEW ********************** */
ul.flip {
  position: relative;
  float: left;
  margin: 5px;
  width: 820px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

ul.flip li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

ul.flip li:first-child {
  z-index: 2;
}

ul.flip li a {
  display: block;
  height: 100%;
  perspective: 200px;
}

ul.flip li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

ul.flip li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

ul.flip li a div.up {
  transform-origin: 50% 100%;
  top: 0;
}

ul.flip li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.4);
}

ul.flip li a div.down {
  transform-origin: 50% 0%;
  bottom: 0;
}

ul.flip li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
}

ul.flip li a div.up div.inn {
  top: 0;
}

ul.flip li a div.down div.inn {
  bottom: 0;
}

/* PLAY */
body.play ul li.before {
  z-index: 3;
}

body.play ul li.active {
  animation: asd .2s .2s linear both;
  z-index: 2;
}

@keyframes asd {
  0% {
    z-index: 2;
  }
  5% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
body.play ul li.active .down {
  z-index: 2;
  animation: turn .2s .2s linear both;
}

@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
body.play ul li.before .up {
  z-index: 2;
  animation: turn2 .2s linear both;
}

@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
/* SHADOW */
body {
  background: url("../../images/bkg.main.jpg") repeat;
  background-size: cover;
}

body.play ul li.before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  animation: show .2s linear both;
}

body.play ul li.active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  animation: hide .2s .2s linear both;
}

/*DOWN*/
body.play ul li.before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  animation: show .2s linear both;
}

body.play ul li.active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  animation: hide .2s .2s linear both;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ************************* END ********************** */
.arrow {
  background: url("../../images/arrow.png") no-repeat;
  float: left;
  height: 33px;
  width: 38px;
}

#main {
  width: 100%;
}

h1, h2, h3, h4, p, a {
  color: #fff;
  font-family: Verdana, Helvetica, sans-serif;
}

#content {
  margin: 0 auto;
  width: 1280px;
  /*#flip-container {
  	float: left; width: 100%;
  	.flip { 
  		border-radius: 5px; box-shadow: 0 2px 5px rbga(0, 0, 0, 0.7); float: left; font-size: 80px; font-weight: bold; height: 90px; line-height: 87px; margin: 5px; position: relative; width: 60px; 
  		li {
  			height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1;
  			&:first-child { z-index: 1; }
  			a { 
  				display: block; height: 100%; perspective: 200px; 
  				div { 
  					height: 50%; left: 0; overflow: hidden; position: absolute; width: 100%; z-index: 1; 
  					.shadow { height: 100%; position: absolute; width: 100%; z-index: 2; }
  					&.up { 
  						transform-origin: 50% 100%; top: 0; 
  						&:after { background-color: rbga(0, 0, 0, .4); content: ""; height: 3px; left: 0; position: absolute; top: 44px; width: 100%; z-index: 5; }
  						div {
  							&.inn { top: 0; }
  						}
  					}
  					&.down { 
  						bottom: 0; transform-origin: 50% 0%; }
  						div {
  							&.inn { bottom: 0; }
  						}
  					div {
  						&.inn { background-color: #333; border-radius: 5px; color: #ccc; height: 200%; left: 0; position: absolute; text-align: center; text-shadow: 0 1px 2px #000; width: 100%; z-index: 1; }
  						
  					}
  				}
  			}
  		}
  	}	
  }*/
}
#content .headers {
  float: left;
  width: 100%;
}
#content .divider {
  background: url("../../images/bkg.divider.png") no-repeat;
  margin: 0 auto;
  height: 7px;
  width: 655px;
}
#content .divider.top {
  margin-top: 50px;
}
#content .vertical-bkg {
  float: left;
  height: 100%;
  min-height: 768px;
  width: 32px;
}
#content .vertical-bkg.red {
  background: url("../../images/bkg.red.bar.jpg") repeat-y;
  margin-left: 32px;
}
#content .vertical-bkg.orange {
  background: url("../../images/bkg.orange.bar.jpg") repeat-y;
}
#content .knob-bar {
  background-color: #33322a;
  border-radius: 3px;
  float: left;
  height: 150px;
  margin-right: 65px;
  width: 12px;
  -webkit-box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
#content .knob-bar .knob {
  background: url("../../images/bkg.btn.sprite.png") 0 0 no-repeat;
  float: left;
  height: 44px;
  margin-left: -16px;
  overflow: hidden;
  width: 44px;
}
#content .knob-bar .knob.one {
  margin-top: 70px;
}
#content .knob-bar .knob.two {
  margin-top: 35px;
}
#content .knob-bar .knob.three {
  margin-top: 60px;
}
#content .knob-bar .knob.four {
  margin-top: 100px;
}
#content .knob-bar .knob.five {
  margin-top: 10px;
}
#content .ui-state-default {
  background: url("../../images/bkg.btn.sprite.png") 0 0 no-repeat;
  border: 0;
  float: left;
  height: 44px;
  margin-left: -10px;
  overflow: hidden;
  width: 44px;
}
#content .ui-widget-header {
  background: transparent;
}
#content .knob {
  width: 83px;
  height: 83px;
  position: relative;
}
#content .knob .top {
  position: absolute;
  width: 279px;
  height: 280px;
  background: url("../../images/panel.age.knob.png") no-repeat;
  z-index: 10;
  cursor: default !important;
  /*&:after { 
  	content:'';
  	width:10px;
  	height:10px;
  	background-color:#666;
  	position:absolute;
  	top:50%;
  	left:10px;
  	margin-top:-5px;
  	border-radius: 50%;
  	cursor:default !important;
  	box-shadow: 0 0 1px #5a5a5a inset;
  }*/
}
#content .knob.base {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  box-shadow: 0 5px 0 #4a5056,5px 5px 5px #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#content .knob [draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#content .header-one,
#content .header-two,
#content .header-three {
  background: url("../../images/bkg.headers.sprite.png") no-repeat;
  float: left;
  height: 52px;
  overflow: hidden;
  text-indent: -9999px;
}
#content .item-word {
  background: #fff;
  color: #37362e;
  float: left;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 18px 15px;
  text-align: center;
  text-transform: uppercase;
  width: 55%;
}
#content .item-btn {
  background: url("../../images/bkg.btn.sprite.png") no-repeat 0 -107px;
  float: left;
  height: 85px;
  margin: -4px 0 0 20px;
  width: 63px;
}
#content .item-btn:hover {
  background-position: -63px -107px;
}
#content .item-btn:active {
  background-position: -126px -107px;
}
#content .flipper {
  background: url("../../images/flipper.png") no-repeat;
  height: 126px;
  width: 820px;
}
#content .flipper-container {
  float: left;
  margin-top: 40px;
  width: 100%;
}
#content #msg-container {
  background-color: #33322a;
  border-radius: 2px;
  float: left;
  height: 523px;
  margin: 25px;
  width: 75%;
  -webkit-box-shadow: inset 0px 3px 15px 12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset 0px 3px 15px 12px rgba(0, 0, 0, 0.57);
  box-shadow: inset 0px 3px 15px 12px rgba(0, 0, 0, 0.57);
}
#content #msg-container #msg-followup {
  display: none;
}
#content #msg-container h1 {
  font-size: 33px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#content #msg-container p {
  font-size: 12px;
  line-height: 30px;
  padding: 40px 55px;
  text-transform: uppercase;
}
#content #btn-container {
  float: left;
  border: 1px solid #000;
  margin-top: 35px;
  width: 65px;
}
#content #btn-container .btn {
  background: url("../../images/bkg.btn.sprite.png") 0 -44px no-repeat;
  border: 1px solid #000;
  float: left;
  height: 63px;
  overflow: hidden;
  width: 63px;
}
#content #knob-container,
#content .panel-knob-container {
  float: left;
  margin-left: 35px;
  width: 40%;
}
#content #knob-container .ui-slider,
#content .panel-knob-container .ui-slider {
  background-color: #33322a;
  border-radius: 3px;
  float: left;
  height: 150px;
  margin-right: 65px;
  width: 12px;
  -webkit-box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
#content #init-btn {
  background: url("../../images/bkg.initiate.png") no-repeat;
  float: left;
  height: 147px;
  overflow: hidden;
  text-indent: -9999px;
  width: 467px;
}
#content #init-btn:hover {
  background-position: 0 -147px;
}
#content #panel-content {
  display: none;
  float: left;
  margin: 25px;
  opacity: 0;
}
#content #panel-content p {
  color: #37362e;
}
#content #panel-content #panel-1, #content #panel-content #panel-2, #content #panel-content #panel-3, #content #panel-content #panel-4, #content #panel-content #panel-5, #content #panel-content #panel-6, #content #panel-content #panel-7, #content #panel-content #panel-8, #content #panel-content #panel-9 {
  display: none;
  height: 646px;
  width: 1100px;
}
#content #panel-content #panel-1 {
  display: block;
}
#content #panel-content #panel-1 .header-one {
  background-position: 0 0;
  width: 393px;
}
#content #panel-content #panel-1 .header-two {
  background-position: 0 -52px;
  margin-left: 60px;
  text-indent: -9999px;
  width: 420px;
}
#content #panel-content #panel-1 #control {
  float: left;
  margin-top: 70px;
}
#content #panel-content #panel-1 #knob-container {
  width: 7%;
}
#content #panel-content #panel-1 #knob-container .ui-slider {
  height: 452px;
}
#content #panel-content .left-container, #content #panel-content .right-container {
  float: left;
  margin: 50px 0;
  width: 50%;
}
#content #panel-content .right-container {
  padding-left: 3%;
  width: 45%;
}
#content #panel-content .right-container p {
  margin-bottom: 23px;
  text-align: left;
  text-transform: uppercase;
}
#content #panel-content .right-container .knob-bar {
  height: 452px;
  margin-right: 15px;
}
#content #panel-content #panel-2 .header-one {
  background-position: 0 -104px;
  width: 870px;
}
#content #panel-content #panel-3 .header-one {
  background-position: 0 -208px;
  width: 870px;
}
#content #panel-content #panel-3 .header-two {
  background-position: 0 -156px;
  width: 870px;
}
#content #panel-content #panel-3 .speak-container {
  float: left;
  margin-right: 10px;
  margin: 40px 0 70px;
  width: 12%;
}
#content #panel-content #panel-3 .item-header, #content #panel-content #panel-3 .answer {
  color: #37362e;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
#content #panel-content #panel-3 .item-header {
  font-weight: bold;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
}
#content #panel-content #panel-3 .answer {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}
#content #panel-content #panel-3 .knob-bar {
  height: 80px;
}
#content #panel-content #panel-3 .knob {
  background: url("../../images/bkg.btn.sprite.png") 0 -200px no-repeat;
  height: 25px;
  width: 45px;
}
#content #panel-content #panel-3 .left-container, #content #panel-content #panel-3 .right-container {
  margin: 0;
}
#content #panel-content #panel-3 .left-container {
  margin-top: 22px;
}
#content #panel-content #panel-3 .right-container {
  margin-left: -43px;
  padding-left: 0;
}
#content #panel-content #panel-3 .flipper-container {
  float: left;
  margin-top: 40px;
  width: 100%;
}
#content #panel-content #panel-3 .panel-knob-container .ui-state-default {
  background-position: 0 -199px;
  height: 24px;
}
#content #panel-content #panel-3 .panel-knob-container .ui-slider {
  height: 90px;
}
#content #panel-content #panel-3 #flip-container {
  background: url("../../images/bkg.flipper.2.png") no-repeat;
  float: left;
  height: 135px;
  margin-top: 35px;
  width: 822px;
}
#content #panel-content #panel-3 .flip {
  margin: 13px 0 0 19px;
  width: 674px;
}
#content #panel-content #panel-4 #social-posts {
  float: left;
  margin-top: 50px;
  width: 100%;
}
#content #panel-content #panel-4 .header-one {
  background-position: 0 -260px;
  width: 820px;
}
#content #panel-content #panel-4 .item {
  float: left;
  margin-bottom: 20px;
  width: 33%;
}
#content #panel-content #panel-4 .item-word {
  background: #fff;
  color: #37362e;
  float: left;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 22px;
  margin-bottom: 15px;
  padding: 14px 15px 18px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
}
#content #panel-content #panel-4 .item-btn {
  background: url("../../images/bkg.btn.sprite.png") no-repeat 0 -236px;
  float: left;
  height: 60px;
  margin: -4px 7px 0 0;
  width: 40px;
}
#content #panel-content #panel-4 .item-btn:hover {
  background-position: -39px -236px;
}
#content #panel-content #panel-4 .item-btn:active {
  background-position: -78px -236px;
}
#content #panel-content #panel-5 .header-one {
  background-position: 0 -312px;
  width: 395px;
}
#content #panel-content #panel-5 .header-two {
  background-position: 0 -364px;
  width: 395px;
}
#content #panel-content #panel-5 .panel-top-container, #content #panel-content #panel-5 .panel-bottom-container {
  float: left;
  width: 100%;
}
#content #panel-content #panel-5 .panel-top-container {
  margin-top: 20px;
}
#content #panel-content #panel-5 .panel-top-container .knob-bar {
  height: 12px;
  margin-top: 35px;
  width: 980px;
}
#content #panel-content #panel-5 .panel-top-container .knob-bar .knob {
  margin-top: -17px;
}
#content #panel-content #panel-5 .panel-top-container .panel-knob-container .ui-state-default {
  background-position: 0 0;
  height: 43px;
  margin-top: -8px;
}
#content #panel-content #panel-5 .panel-top-container .panel-knob-container .ui-slider {
  height: 12px;
  width: 980px;
}
#content #panel-content #panel-5 .panel-bottom-container .knob-bar {
  height: 55px;
  width: 12px;
}
#content #panel-content #panel-5 .panel-bottom-container .knob-bar .knob {
  background-position: 0 -200px;
  height: 25px;
  margin-top: -17px;
  width: 45px;
}
#content #panel-content #panel-5 .panel-bottom-container .answer {
  color: #37362e;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}
#content #panel-content #panel-5 .panel-bottom-container .speak-container {
  float: left;
  width: 30%;
}
#content #panel-content #panel-5 .panel-bottom-container .left-container {
  margin-bottom: -15px;
  margin-top: 45px;
  padding-right: 1%;
  width: 12%;
}
#content #panel-content #panel-5 .panel-bottom-container .right-container {
  margin-bottom: 0;
  margin-top: 30px;
  width: 60%;
}
#content #panel-content #panel-5 .panel-bottom-container .item-word {
  background: #fff;
  color: #37362e;
  float: left;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  margin-left: 6%;
  margin-top: -2px;
  padding: 14px 15px 18px;
  text-align: center;
  text-transform: uppercase;
  width: 65%;
}
#content #panel-content #panel-5 .panel-knob-container {
  margin-left: 0;
  width: 25px;
}
#content #panel-content #panel-5 .panel-knob-container .ui-state-default {
  background-position: 0 -199px;
  height: 24px;
}
#content #panel-content #panel-5 .panel-knob-container .ui-slider {
  height: 60px;
}
#content #panel-content #panel-5 #accent-container {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}
#content #panel-content #panel-5 #accent-container .item {
  float: left;
  margin-top: 12px;
  text-align: center;
  width: 10%;
}
#content #panel-content #panel-5 #accent-container .vertical-divider {
  padding-bottom: 5px;
}
#content #panel-content #panel-5 #accent-container .accent {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#content #panel-content #panel-5 #accent-container .accent span {
  float: left;
  width: 100%;
}
#content #panel-content #panel-6 .left-container, #content #panel-content #panel-6 .right-container, #content #panel-content #panel-6 .middle-container {
  float: left;
  margin-top: 50px;
  width: 25%;
}
#content #panel-content #panel-6 .right-container {
  padding-left: 0;
}
#content #panel-content #panel-6 .header-one {
  background-position: 0 -415px;
  margin-right: 40px;
  width: 260px;
}
#content #panel-content #panel-6 .header-two {
  background-position: 0 -467px;
  width: 558px;
}
#content #panel-content #panel-6 .item {
  float: left;
  width: 100%;
}
#content #panel-content #panel-6 .item-word {
  margin-left: 5%;
  width: 50%;
}
#content #panel-content #panel-7 .left-container, #content #panel-content #panel-7 .right-container, #content #panel-content #panel-7 .middle-container {
  float: left;
  margin-top: 50px;
  width: 25%;
}
#content #panel-content #panel-7 .right-container {
  padding-left: 0;
}
#content #panel-content #panel-7 .header-one {
  background-position: 0 -519px;
  width: 874px;
}
#content #panel-content #panel-7 .item {
  float: left;
  width: 100%;
}
#content #panel-content #panel-8 .header-one {
  background-position: 0 -573px;
  margin-right: 40px;
  width: 392px;
}
#content #panel-content #panel-8 .header-two {
  background-position: 0 -626px;
  width: 423px;
}
#content #panel-content #panel-8 .left-container p {
  margin-bottom: 23px;
  text-align: left;
  text-transform: uppercase;
}
#content #panel-content #panel-8 .left-container .knob-bar {
  height: 452px;
  margin-right: 15px;
}
#content #panel-content #panel-9 .header-one {
  background-position: 0 -731px;
  margin-right: 40px;
  width: 271px;
}
#content #panel-content #panel-9 .header-two {
  background-position: -298px -731px;
  margin-right: 40px;
  width: 275px;
}
#content #panel-content #panel-9 .header-three {
  background-position: -598px -731px;
  width: 268px;
}
#content #panel-content #panel-9 .panel-top-container {
  float: left;
  margin-top: 35px;
}
#content #panel-content #panel-9 .panel-bottom-container {
  float: left;
  margin-top: 50px;
}
#content #panel-content #panel-9 .panel-bottom-container .header-one {
  background-position: 0 -679px;
  width: 395px;
}
#content #panel-content #panel-9 .knob-container {
  float: left;
  margin: 0 auto;
  width: 28%;
}
#content #panel-content #panel-9 .knob-container:nth-child(2) .knob-selections {
  margin-left: 10%;
  width: 70%;
}
#content #panel-content #panel-9 .knob-container:nth-child(3) {
  margin-left: 1%;
}
#content #panel-content #panel-9 .knob {
  background: url("../../images/knob.sm.png") no-repeat;
  float: left;
  height: 176px;
  margin-left: 16%;
  text-indent: -9999px;
  width: 177px;
}
#content #panel-content #panel-9 .knob-selections {
  float: left;
  margin: 0 auto 0 15%;
  text-align: center;
  width: 60%;
}
#content #panel-content #panel-9 .selection {
  float: left;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#content #panel-content #panel-9 .selection.left {
  float: left;
}
#content #panel-content #panel-9 .selection.right {
  float: right;
}
#content #panel-content #panel-9 .selection.middle {
  margin: 27px 0 0 11px;
}
#content #age-knob {
  background: url("../../images/panel.age.knob.png") no-repeat;
  float: left;
  height: 280px;
  margin: 76px 0 0 16px;
  text-indent: -9999px;
  width: 279px;
}
#content #age-ranges {
  margin: 63px 0 0 248px;
  position: absolute;
}
#content #age-ranges p {
  font-size: 13px;
}
#content #age-ranges .age-range {
  color: #37362e;
  margin: 33px 0;
}
#content #age-ranges .age-range:nth-child(2) {
  margin-left: 35px;
}
#content #age-ranges .age-range:nth-child(3) {
  margin-left: 51px;
}
#content #age-ranges .age-range:nth-child(4) {
  margin-left: 45px;
}
#content #age-ranges .age-range:nth-child(5) {
  margin-left: 35px;
}
#content .rectangular-button {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 0;
  border: 1px solid #37362e;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  color: #37362e;
  float: left;
  height: 46px;
  margin: 0 30px 15px 0;
  padding: 30px 15px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 75%;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
#content .rectangular-button:after {
  color: #e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}
#content .bottom-container {
  float: left;
  width: 100%;
}
#content .bottom-container .panel-counter {
  background: url("../../images/bkg.panel.blank.png") no-repeat;
  float: left;
  height: 52px;
  margin: 15px 39px 0;
  width: 334px;
}
#content .bottom-container .panel-counter .counter {
  background: url("../../images/bkg.panel.counter.png") no-repeat;
  float: left;
  height: 18px;
  margin: 15px 0 0 95px;
  overflow: hidden;
  text-indent: -9999px;
  width: 149px;
}
#content .bottom-container #back-btn,
#content .bottom-container #next-btn {
  float: left;
  height: 74px;
  overflow: hidden;
  text-indent: -9999px;
  width: 233px;
}
#content .bottom-container #back-btn {
  background: url("../../images/bkg.panel.back.png") no-repeat;
}
#content .bottom-container #back-btn:hover {
  background-position: 0 -74px;
}
#content .bottom-container #next-btn {
  background: url("../../images/bkg.panel.next.png") no-repeat;
}
#content .bottom-container #next-btn:hover {
  background-position: 0 -74px;
}

/*# sourceMappingURL=app.css.map */
