<div id="home-content">
<div id="msg-container">
	<div id="msg-initial">
		<div class="divider top"></div>
			<h1>Creative Director Douche Bag Detection Device</h1>
		<div class="divider"></div>
	</div>
	<div id="msg-followup">
		<div class="divider top"></div>
		<h1>C.D.D.B.D.D.</h1>
		<div class="divider"></div>
		<p>Simply adjust the dials and toggle the knobs on this state-of-the-art-futuristic-hi-tek-
gizmo and Beep! Boop! Beep! DING! You will know with nearly 37.2% accuracy whether your new hire, your new boss, your new colleague, the CD of your new agency, or heaven forbid, YOU (gasp!) is and or are a Douche Bag.  &lt;</p>
	</div>
</div>
<div id="btn-container">
	<div class="btn"></div>
	<div class="btn"></div>
	<div class="btn"></div>
	<div class="btn"></div>
	<div class="btn"></div>
	<div class="btn"></div>
	<div class="btn"></div>
	<div class="btn"></div>
</div>
<div id="knob-container">
	<span>88</span>
	<span>77</span>
	<span>55</span>
	<span>33</span>
	<span>40</span>
	
	<!-- 
	<div class="knob-bar">
		<div class="knob one"></div>
	</div>
	<div class="knob-bar">
		<div class="knob two"></div>
	</div>
	<div class="knob-bar">
		<div class="knob three"></div>
	</div>
	<div class="knob-bar">
		<div class="knob four"></div>
	</div>
	<div class="knob-bar">
		<div class="knob five"></div>
	</div>
	-->
</div>
<!-- 
<div id="eq">
	<span></span>
</div>
-->
<a id="init-btn" href="init-btn">Initiate</a>
</div>