	<div id="panel-4">
		<div class="headers">
			<div class="header-one">Social Media Posts</div>
		</div>
		<ul id="social-posts">			
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Glorious Sunsets</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Constant Self Promotion</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Political Rants</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Pics with Celebrity Talent</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Green Juice Chronicles</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Magnum Wine Bottle Celebrations</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Gym Regimen</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Cannes Photo Diary</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Praising Former Agency's Work</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Reposted Mashable Articles</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Gratuitous Selfies</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Movember Updates</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">#Craftservices</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Smug Engagement Photos</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Sad Sack Pity Party</div>
			</li> 
		</ul>
	</div>