<div id="panel-content">
	<div id="panel-1">
		<div class="headers">
			<div class="header-one">Age</div>
			<div class="header-two">Previous Job Title</div>
		</div>
		<div class="left-container">
			<div id="age-knob"></div>
			<div id="age-ranges">
				<p class="age-range">- 20s</p>
				<p class="age-range">- 30s</p>
				<p class="age-range">- 40s</p>
				<p class="age-range">- 50s</p>
				<p class="age-range">- 60s</p>
				<p class="age-range">- Lee Garfinkel</p>
			</div>
		</div>
		<div class="right-container">
			<div class="knob-bar">
				<div class="knob one"></div>
			</div>
			<p>- Art Director</p>
			<p>- Copywriter</p>
			<p>- ACD</p>
			<p>- CD</p>
			<p>- ECD</p>
			<p>- Creative Technologist</p>
			<p>- Culture Evangelist</p>
			<p>- Disruption Guru</p>
			<p>- Digital Prophet</p>
			<p>- ROI Architect</p>
			<p>- Implementation Surgeon</p>
			<p>- Alpha of all things beta</p>	
		</div>
	</div>
	<div id="panel-2">
		<div class="headers">
			<div class="header-one">Most commonly used item-words</div>
		</div>
		<div class="left-container">
			<div class="item">
				<div class="item-word">Content</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Game Changer</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Brand Prophesy</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Advertising is Dead</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">New Agency Model</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Boom</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
		</div>
		<div class="right-container">
			<div class="item">
				<div class="item-word">360 Storytelling</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Subservient Chicken</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Women in Advertising</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Millenials</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Crushing It</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">It's all about the work</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
		</div>
	</div>
	<div id="panel-3">
		<div class="headers">
			<div class="header-one">Speaking Engagements</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Ted</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Tedx Rhode Island</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">C2</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Advertising Week</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">CES</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Northridge Festival</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">SXSW</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Hight School Art Class</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
			</div>
		</div>
		<div class="headers">
			<div class="header-two">Award Storage</div>
		</div>
		<div class="flipper-container">
			<div class="flipper"></div>
		</div>
	</div>
	<div id="panel-4">
		<div class="headers">
			<div class="header-one">Social Media Posts</div>
		</div>
		<ul id="social-posts">			
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Glorious Sunsets</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Constant Self Promotion</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Political Rants</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Pics with Celebrity Talent</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Green Juice Chronicles</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Magnum Wine Bottle Celebrations</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Gym Regimen</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Cannes Photo Diary</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Praising Former Agency's Work</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Reposted Mashable Articles</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Gratuitous Selfies</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Movember Updates</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">#Craftservices</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Smug Engagement Photos</div>
			</li>
			<li class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Sad Sack Pity Party</div>
			</li> 
		</ul>
	</div>
	<div id="panel-5">
		<div class="headers">
			<div class="header-one">Accent</div>
		</div>
		<div class="panel-top-container">
			<div class="knob-bar">
				<div class="knob"></div>
			</div>
			<div id="accent-container">
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent">British</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Mid-</span>Western</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Affected</span>Lisp</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Vaguely</span>European</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>South</span>African</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>New</span>Zealand</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent">Australian</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>New</span>York</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Affected</span>Swedish</div>
				</div>
			</div>
		</div>
		<div class="headers">
			<div class="header-two">Tattoos</div>
		</div>
		<div class="panel-bottom-container">
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">Finger <br />Mustache</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">IRONIC SEXIST<br />PIN-UP</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">TIGER RIPPING <br />THROUGH SKIN</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">ANCHOR <br />(NOT A SAILOR)</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">FULL SLEEVE <br />WITH KOI FISH</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">OWN NAME IN <br />GOTHIC SCRIPT</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">FULL POEM</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">TRIBAL / BARBED <br />WIRE ON BICEP</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					<div class="item-word">CHINESE <br />CHARACTERS</div>
				</div>
			</div>
		</div>
	</div>
	<div id="panel-6">
		<div class="headers">
			<div class="header-one">Hair</div>
			<div class="header-two">Accessories</div>
		</div>
		<div class="left-container">
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Content</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Game Changer</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Game Changer</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Advertising is Dead</div>
			</div>
			<div class="item">
					<a class="item-btn" href="item-btn"></a>
				<div class="item-word">New Agency Model</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
		</div>
		<div class="middle-container">
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Game Changer</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
		</div>
		<div class="right-container">
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
		</div>
	</div>
	<div id="panel-7">
		<div class="headers">
			<div class="header-one">Office Decor</div>
		</div>
		<div class="left-container">
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
		</div>
		<div class="middle-container">
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
		</div>
		<div class="right-container">
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
		</div>
	</div>
	<div id="panel-8">
		<div class="headers">
			<div class="header-one">Side Hustle</div>
			<div class="header-two">Lunch of Choice</div>
		</div>
		<div class="left-container">
			<div class="knob-bar">
				<div class="knob one"></div>
			</div>
			<p>- Art Director</p>
			<p>- Copywriter</p>
			<p>- ACD</p>
			<p>- CD</p>
			<p>- ECD</p>
			<p>- Creative Technologist</p>
			<p>- Culture Evangelist</p>
			<p>- Disruption Guru</p>
			<p>- Digital Prophet</p>
			<p>- ROI Architect</p>
			<p>- Implementation Surgeon</p>
			<p>- Alpha of all things beta</p>
		</div>
		<div class="right-container">
			<div class="knob-bar">
				<div class="knob one"></div>
			</div>
			<p>- Art Director</p>
			<p>- Copywriter</p>
			<p>- ACD</p>
			<p>- CD</p>
			<p>- ECD</p>
			<p>- Creative Technologist</p>
			<p>- Culture Evangelist</p>
			<p>- Disruption Guru</p>
			<p>- Digital Prophet</p>
			<p>- ROI Architect</p>
			<p>- Implementation Surgeon</p>
			<p>- Alpha of all things beta</p>
		</div>
	</div>
	<div class="bottom-container">
		<a href="back" id="back-btn">Back</a>
		<div class="panel-counter"><div class="counter">Panel 1 / 9</div></div>
		<a href="next" id="next-btn">Next</a>
	</div>
</div>