	<div id="panel-5">
		<div class="headers">
			<div class="header-one">Accent</div>
		</div>
		<div class="panel-top-container">
			<div class="panel-knob-container">
				<span>40</span>
			</div>
			<div id="accent-container">
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent">British</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Mid-</span>Western</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Affected</span>Lisp</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Vaguely</span>European</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>South</span>African</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>New</span>Zealand</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent">Australian</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>New</span>York</div>
				</div>
				<div class="item">
					<div class="vertical-divider">|</div>
					<div class="accent"><span>Affected</span>Swedish</div>
				</div>
			</div>
		</div>
		<div class="headers">
			<div class="header-two">Tattoos</div>
		</div>
		<div class="panel-bottom-container">
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">Finger <br />Mustache</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<!--
					<div class="knob-bar">
						<a class="knob one" href="knob"></a>
					</div>
					-->
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">IRONIC SEXIST<br />PIN-UP</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">TIGER RIPPING <br />THROUGH SKIN</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">ANCHOR <br />(NOT A SAILOR)</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">FULL SLEEVE <br />WITH KOI FISH</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">OWN NAME IN <br />GOTHIC SCRIPT</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">FULL POEM</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">TRIBAL / BARBED <br />WIRE ON BICEP</div>
				</div>
			</div>
			<div class="speak-container">
				<div class="left-container">
					<div class="answer">Yes</div>
					<div class="answer">No</div>
				</div>
				<div class="right-container">
					<div class="panel-knob-container">
						<span>40</span>
					</div>
					<div class="item-word">CHINESE <br />CHARACTERS</div>
				</div>
			</div>
		</div>
	</div>