	<div id="panel-6">
		<div class="headers">
			<div class="header-one">Hair</div>
			<div class="header-two">Accessories</div>
		</div>
		<div class="left-container">
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Content</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Game Changer</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Game Changer</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Advertising is Dead</div>
			</div>
			<div class="item">
					<a class="item-btn" href="item-btn"></a>
				<div class="item-word">New Agency Model</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
		</div>
		<div class="middle-container">
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Game Changer</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
		</div>
		<div class="right-container">
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
			<div class="item">
				<a class="item-btn" href="item-btn"></a>
				<div class="item-word">Boom</div>
			</div>
		</div>
	</div>