	<div id="panel-8">
		<div class="headers">
			<div class="header-one">Side Hustle</div>
			<div class="header-two">Lunch of Choice</div>
		</div>
		<div class="left-container">
			<!-- 
			<div class="knob-bar">
				<div class="knob one"></div>
			</div>
			-->
			<div class="panel-knob-container">
				<span>20</span>
			</div>
			<p>- Art Director</p>
			<p>- Copywriter</p>
			<p>- ACD</p>
			<p>- CD</p>
			<p>- ECD</p>
			<p>- Creative Technologist</p>
			<p>- Culture Evangelist</p>
			<p>- Disruption Guru</p>
			<p>- Digital Prophet</p>
			<p>- ROI Architect</p>
			<p>- Implementation Surgeon</p>
			<p>- Alpha of all things beta</p>
		</div>
		<div class="right-container">
			<div class="panel-knob-container">
				<span>20</span>
			</div>
			<p>- Art Director</p>
			<p>- Copywriter</p>
			<p>- ACD</p>
			<p>- CD</p>
			<p>- ECD</p>
			<p>- Creative Technologist</p>
			<p>- Culture Evangelist</p>
			<p>- Disruption Guru</p>
			<p>- Digital Prophet</p>
			<p>- ROI Architect</p>
			<p>- Implementation Surgeon</p>
			<p>- Alpha of all things beta</p>
		</div>
	</div>