	<div id="panel-2">
		<div class="headers">
			<div class="header-one">Most commonly used item-words</div>
		</div>
		<div class="left-container">
			<div class="item">
				<div class="item-word">Content</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Game Changer</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Brand Prophesy</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Advertising is Dead</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">New Agency Model</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Boom</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
		</div>
		<div class="right-container">
			<div class="item">
				<div class="item-word">360 Storytelling</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Subservient Chicken</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Women in Advertising</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Millenials</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">Crushing It</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
			<div class="item">
				<div class="item-word">It's all about the work</div>
				<a class="item-btn" href="item-btn"></a>
			</div>
		</div>
	</div>