	<div id="panel-3">
		<div class="headers">
			<div class="header-one">Speaking Engagements</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Ted</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
				<!-- 
				<div class="knob-bar">
					<a class="knob one" href="knob"></a>
				</div>
				-->
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Tedx Rhode Island</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">C2</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Advertising Week</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">CES</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Northridge Festival</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">SXSW</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
			</div>
		</div>
		<div class="speak-container">
			<div class="item-header">Hight School Art Class</div>
			<div class="left-container">
				<div class="answer">Yes</div>
				<div class="answer">No</div>
			</div>
			<div class="right-container">
				<div class="panel-knob-container">
					<span>20</span>
				</div>
			</div>
		</div>
		<div class="headers">
			<div class="header-two">Award Storage</div>
		</div>
		<!-- Flipper -->
		<div class="flip-container">
			<ul class="flip flipper-content">
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">In their office</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">In their office</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">Agency entrance</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">Agency entrance</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">Underlit display case</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">Underlit display case</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">Ex's house</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">Ex's house</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">In the fridge</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">In the fridge</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">Door stopper</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">Door stopper</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">Never won</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">Never won</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="up">
							<div class="shadow"></div>
							<div class="inn">On their desk</div>
						</div>
						<div class="down">
							<div class="shadow"></div>
							<div class="inn">On their desk</div>
						</div>
					</a>
				</li>
			</div>
			<a class="arrow" href="#"></a>
		</div>
		
		<!-- 
		<div class="flipper-container">
			<div class="flipper"></div>
		</div>
		-->
	</div>