	<div id="panel-7">
		<div class="headers">
			<div class="header-one">Office Decor</div>
		</div>
		<div class="left-container">
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
		</div>
		<div class="middle-container">
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
		</div>
		<div class="right-container">
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
			<div class="item">
				<a href="rectangular-button" class="rectangular-button">Eames Chair</a>
			</div>
		</div>
	</div>