	<div id="panel-1">
		<div class="headers">
			<div class="header-one">Age</div>
			<div class="header-two">Previous Job Title</div>
		</div>
		<div class="left-container">
			<div id="bars">
				<div id="control"></div>
			</div>
			<div id="age-ranges">
				<p class="age-range">- 20s</p>
				<p class="age-range">- 30s</p>
				<p class="age-range">- 40s</p>
				<p class="age-range">- 50s</p>
				<p class="age-range">- 60s</p>
				<p class="age-range">- Lee Garfinkel</p>
			</div>
		</div>
		<div class="right-container">
			<div id="knob-container">
				<span>80</span>
			</div>
			<!-- >
			<div class="knob-bar">
				<div class="knob one"></div>
			</div>
			-->
			<p>- Art Director</p>
			<p>- Copywriter</p>
			<p>- ACD</p>
			<p>- CD</p>
			<p>- ECD</p>
			<p>- Creative Technologist</p>
			<p>- Culture Evangelist</p>
			<p>- Disruption Guru</p>
			<p>- Digital Prophet</p>
			<p>- ROI Architect</p>
			<p>- Implementation Surgeon</p>
			<p>- Alpha of all things beta</p>	
		</div>
	</div>